.banner {
  padding: 0;
}
.banner img {
  width: 100%;
}
main {
  padding: 50px 0;
}
#tabBox .nav-tabs {
  display: flex;
  justify-content: center;
}
#tabBox .nav-tabs li {
  text-align: center;
}
#tabBox .nav-tabs li a {
  font-size: 18px;
  color: #222;
}
#tabBox .nav-tabs .active > a {
  color: #77d1ad ;
}
#tabBox #myTabContent {
  text-align: center !important;
  margin-top: 50px;
}
#tabBox #myTabContent p {
  font: 300 18px "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif;
  line-height: 1.8;
  color: #222;
}
#tabBox #myTabContent p mark {
  color: red;
}
.play-main-show div.column {
  position: relative;
  margin-bottom: 50px;
}
.play-main-show div.column .small-img {
  width: 263px;
  height: 172px;
  overflow: hidden;
}
.play-main-show div.column .small-img img {
  width: 100%;
  transition: all 0.3s linear;
}
.play-main-show div.column:hover .small-img img {
  transform: scale(1.1);
}
.play-main-show div.column .play-main-show-modal {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 263px;
  height: 172px;
  color: white;
}
.play-main-show div.column .play-main-show-modal h2 {
  font-size: 20px;
}
.play-main-show div.column .play-main-show-modal .btn {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  width: 80px;
  height: 40px;
}
.play-main-show div.column .play-main-show-modal .modal-header {
  height: 20px;
}
.play-main-show div.column .play-main-show-modal .modal-body {
  padding: 50px;
}
.play-main-show div.column .play-main-show-modal .modal-body .big-img {
  width: 100%;
}
#pageBox {
  padding: 10px 0 0 0;
}
#pageBox span {
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #08a586;
}
#pageBox #pageNav {
  display: inline-block;
}
#pageBox #pageNav a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #3a87ad;
  text-decoration: none;
}
#pageBox #pageNav a.active,
#pageBox #pageNav a:hover {
  background: #3a87ad;
  color: #EFEFEF;
}
#pageBox #prev:hover {
  cursor: pointer;
}
#pageBox #next:hover {
  cursor: pointer;
}
